$mainBackground :#F5F5F1;
$secondaryBackground : #F5F5F1;
$iconColor:#7D7A76;
//$brandColor:#FC7525;
$brandColor:#20ad96;
$buttonBackgroundPosts:#EDEDE7;
$grayIcon:#524E48;
$iconBackground:#EDEDE8;
$green:#519662;
//$buttonHover:#F66104;
$buttonHover:#1c7f6e;
//$backgroundOver:rgb(255, 74, 0);

//$backgroundLinear:linear-gradient(0deg,rgba(255, 74, 0, 0.9094012605042017) 0%, rgba(150, 51, 0, 0.8477766106442577) 85%);
$backgroundOver: rgb(32, 173, 150);
$backgroundLinear: linear-gradient(0deg, rgba(32, 173, 150, 1) 0%, rgba(32, 173, 150, 0.7609418767507002) 85%);
$backgroundBottomFooter:#F5F5F1;